@model Webshop.Models.Kund

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<div class="container">
    
    @if (TempData["lll"] != null)
    { <h2 style="color: cornflowerblue" class="text-center">Du är nu registrerad som: <b>@TempData["lll"]!</b> Vänligen logga in nedan </h2>
    }

    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Logga In</div>        
                <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>       
            </div>

            <div style="padding-top:30px" class="panel-body">

                <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
                {
                    <div style="margin-bottom: 25px" class="input-group">
                        @*@Html.Label("Login: ")*@
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        @Html.TextBoxFor(n => n.AnvandarNamn, new { @class = "form-control", @placeholder = "användarnamn" })
                     </div>

                        <br />
                        <div style="margin-bottom: 25px" class="input-group">
                            @*@Html.Label("Password: ")*@
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            @Html.PasswordFor(a => a.Losenord,new { @class = "form-control", @placeholder = "lösenord" })
                        </div>

                        <div class="input-group">
                            <div class="checkbox">
                                <label>
                                    <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
                                </label>
                            </div>
                        </div>

                        <div style="margin-top:10px" class="form-group">

                            <!--Button-->
                            <div class="col-sm-12 controls">
                                <input id="Submit1" type="submit" value="LOGIN" class="btn btn-success" />
                            </div>
                        </div>

                            <div class="form-group">
                                <div class="col-md-12 control">
                                    <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                                        Don't have an account!
                                        <a href="~/Home/Signup">
                                            Sign Up Here
                                        </a>
                                    </div>
                                </div>
                            </div>
                          <h1 style="color:red">@ViewBag.Message</h1>

                        @*<div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                             @ViewBag.Message
                        </div>*@
                }
              </div>
        </div>
    </div>             
                              
 </div>
              