@model Webshop.Models.Kund

@{
    ViewBag.Title = "Signup";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
      


<div class="container">   
       
            
            <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">Registrera ny Användare</div>
                    </div>

                    <div style="padding-top:30px" class="panel-body">

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>


                        @using (Html.BeginForm("Signup", "Home", FormMethod.Post))
                        {

                            <div class="control-group">
                                @Html.Label("Mata in Namn: ")

                                @Html.TextBoxFor(n => n.Namn, new { @class = "form-control", @placeholder = "Namn *", @rows = "10", id = "boxNamn", required = "true" }) <b class="vali">@Html.ValidationMessageFor(x => x.Namn)</b>
                                <p class="help-block">Please provide your name </p>
                            </div>

                            <div class="control-group ">
                                @Html.Label("Mata in Gatuadress: ")
                                @Html.TextBoxFor(g => g.Gatuadress, new { @class = "form-control", @placeholder = "Gatuadress *", @rows = "10", id = "boxGatuadress", required = "true" })  <b class="vali">@Html.ValidationMessageFor(x => x.Gatuadress)</b>
                                <p class="help-block">Please provide your Gatuadress </p>
                            </div>

                            <div class="control-group">
                                @Html.Label("Mata in Postnummer: ")
                                @Html.TextBoxFor(g => g.Postnr, new { @class = "form-control", @placeholder = "Postnummer *", @rows = "10", id = "boxPostNr", required = "true" })  <b class="vali">@Html.ValidationMessageFor(x => x.Postnr)</b>
                                <p class="help-block">Please provide your Postnummer </p>
                            </div>

                            <div class="control-group">
                                @Html.Label("Mata in Postort: ")
                                @Html.TextBoxFor(g => g.Postort, new { @class = "form-control", @placeholder = "Postort *", @rows = "10", id = "boxPostOrt", required = "true" })<b class="vali">@Html.ValidationMessageFor(x => x.Postort)</b>
                                <p class="help-block">Please provide your Postort </p>
                            </div>

                            <div class="control-group">
                                @Html.Label("Mata in Email: ")
                                @Html.TextBoxFor(g => g.Email, new { @class = "form-control", @placeholder = "Email..", @rows = "10", id = "boxEmail" })
                                <p class="help-block">Please provide your Email</p>
                            </div>

                            <div class="control-group">
                                @Html.Label("Mata in Telefon: ")
                                @Html.TextBoxFor(g => g.Telefon, new { @class = "form-control", @placeholder = "Telefon..", @rows = "10", id = "boxTelefon" })
                                <p class="help-block">Please provide your Telefon</p>
                            </div>

                            <div class="control-group">
                                @Html.Label("Mata in Användarnamn: ")
                                @Html.TextBoxFor(g => g.AnvandarNamn, new { @class = "form-control", @placeholder = "Användarnamn *", @rows = "10", id = "boxAnvändarNamn", required = "true" })<b class="vali">@Html.ValidationMessageFor(x => x.AnvandarNamn)</b>
                                <p class="help-block">Please provide your Användarnamn </p>
                            </div>

                            <div class="control-group">
                                @Html.Label("Mata in Lösenord: ")
                                @Html.PasswordFor(g => g.Losenord, new { @class = "form-control", @placeholder = "Lösenord *", @rows = "10", id = "boxPassword", required = "true" })<b class="vali">@Html.ValidationMessageFor(x => x.Losenord)</b>
                                <p class="help-block">Please provide your Lösenord </p>
                            </div>

                            <div class="control-group">
                                <!-- Button -->
                                <input id="Submit1" type="submit" value="Registrera" class="btn btn-success" style="margin-top:50px"/>
                                @*<input id="" type="" value="Clear" class="btn btn-default" />*@
                            </div>
                        }
                    </div>
                    </div>
            </div>
   </div>
           
    



