@model Webshop.ViewModels.ViewList

@{
    Layout = "~/Views/Shared/_LayoutPageLoggedIn.cshtml";
}

<div class="bs-example" style="text-align:center">
    <div class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert">×</a>

        <strong>Välkommen @HttpContext.Current.User.Identity.Name! -  Du är nu inloggad och kan beställa </strong>
    </div>
</div>

<br />

    <div id="BoxLeft">
        
        <table class="table table-striped table-bordered table-condensed " style="text-align:left">
            <thead><tr class="alert-success"><th>Maträtt</th><th>Beskrivning</th><th>Typ</th><th>Pris</th><th>Åtgärd</th></tr></thead>

            @foreach (var product in Model.AllProducts)
            {
                <tr>
                    <td>@product.MatrattNamn</td>
                    <td>@Ajax.ActionLink(" Visa Detaljer", "Details", new { id = product.MatrattID },

                         new AjaxOptions
                         {
                             UpdateTargetId = "target", // <-- DOM element ID to update
                             InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                             HttpMethod = "GET" // <-- HTTP method
                         })              
                    
                    
                                                      
                    </td>
                    @*<td>@product.Beskrivning</td>*@
                    <td>@product.MatrattTyp1.Beskrivning</td>                   
                    <td>@product.Pris</td>                   
                    <td><a href="@Url.Action("AddToChart2","Home", new { id = product.MatrattID })"><img src="~/kop.gif" />  </a>     </td>                </tr>
            }

        </table>
        <div id="target"></div>
    </div>

    <div id="BoxRight">
    <h2><span class="glyphicon glyphicon-shopping-cart"> Varukorg 
       
        </span></h2>
        <table class="table table-striped table-condensed bg bg-info" >
            <tr class="alert alert-info ">
                <td ><strong>Total:  @Model.TotalPrice kr</strong><td >
              </tr>
        </table>
       
                  
    @if (Model.SelectedProducts != null)
    {
        <br />
            <table class="table table-striped table-bordered table-condensed">
                <thead><tr><th>Maträtt</th><th>Pris</th><th>Åtgärd</th></thead>

                @foreach (var product in Model.SelectedProducts)
                {                    
                    <tr>
                        <td>@product.MatrattNamn</td>
                        <td>@product.Pris kr</td>
                       
                        <td><a href="@Url.Action("DeleteMatratt2", "Home", new { id = product.MatrattID })" onclick="return confirm('Are you sure you want to Edit?')"><span class="glyphicon glyphicon-trash"></span></a></td>
                   </tr>               
                }                
                
            </table>
            <a href="@Url.Action("ViewChart", "Home")" class="btn btn-primary">Till Kassan </a>
    }

</div>